.breadcrumbs{
    color: $white;
    margin-top: 30px;
    margin-bottom: 25px;
    font-size: 14px;
      a{
        color: $white;
        text-decoration: none;
      }
  }
body,p{
    font-family: $font;
}
  h1,
h2,
h3,
h4,
h5,
h6 {
font-family: $font-manuale;
font-weight: 700;
line-height: 1.2em;
letter-spacing: normal;
text-transform: none;
}
h1 {
font-size: 2.5rem;
    @include media-breakpoint-up(md) {
        font-size: 3.125rem;
    }
}

h2 {
padding-top: 15px;
padding-bottom: 15px;
font-size: 1.875rem;
    @include media-breakpoint-up(md) {
        font-size: 2.5rem;
    }
}

h3 {
padding-top: 15px;
padding-bottom: 15px;
font-size: 2.063rem;
    @include media-breakpoint-up(md) {
        font-size: 2.5rem;
    }
}

h4 {
font-size: 1.5rem;
    @include media-breakpoint-up(md) {
        font-size: 1.75rem;
    }
}

h5 {
font-size: 1.25rem;
    @include media-breakpoint-up(md) {
        font-size: 1.5rem;
    }
}

h6 {
font-size: 1.125rem;
    @include media-breakpoint-up(md) {
        font-size: 1.25rem;
    }
}