$main-blue: #002F63;
$dark-blue:#00234A;
$light-blue: #5FAAF2;
$purple: #37255E;
$white: #ffffff;
$orange: #D98042;
$black: #000000;
$gold: #E7AF5B;
$grey: #F4F6F8;
$green: #60B48A;
$red: #D63D3D;

$background: #FFFFFF;
$text: #333333;


// New Variables
$primary-1:#002F63;
$primary-2: #5FAAF2;
$primary-3: #E7AF5B;
$secondary-1: #00234A;
$secondary-2: #60B48A;
$secondary-3: #D63D3D;
$secondary-4: #704087;
$secondary-5: #B94890;
$secondary-6: #905341;
$secondary-7: #D98042;
$neutral-1: #231F20;
$neutral-2: #616C75;
$neutral-3: #B2C2D0;
$neutral-4: #F4F6F8;
$off-white: #FEFDFA;
$primary-gradient: linear-gradient(135deg, #003B4C 0%, #027DB7 97.44%);
$secondary-gradient: linear-gradient(135deg, #E7AF5B 0%, #D98042 97.44%);

// @include media-breakpoint-up(md) {}

// @include media-breakpoint-up(lg) {}
$font-montserrat: 'Montserrat', sans-serif;
$font-roboto-condensed: 'Roboto Condensed', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$font-manuale: 'Manuale', serif;