.site-header {
	//background: linear-gradient(360deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.8) 98.13%);
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: $primary-1;
          @include media-breakpoint-down(md) {
      display: none;
    }
    .admin-bar & {
      top: 32px;
    }
    
}

  .site-branding{
    background-color: $off-white;
    max-width: fit-content;
    @include media-breakpoint-up(md) {
    margin-left: auto;
    min-height: 140px;
    min-width: 240px;
    text-align: center;
    display: grid;
    align-items: center;
  }
  .branding-inner{
    vertical-align: middle;
    .site-title{
      margin-top: 10px;
      a{
        text-decoration: none;
        color: $primary-1;
        font-family: $font-roboto-condensed;
        font-size: 1.125em;

        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}



.header-container {
		height: 128px;
		#top-nav{
			padding-top: 20px;
      //background-color: $secondary-1;
			
		}
		.hidden {
			display: none;
		}
}
.custom-logo {
	max-width: 180px;
	width: 100%;
}
#mega-menu-item-29 a{
	border:none !important;
}
// .mega-current-menu-ancestor{
// 	box-shadow: inset 0 -4px $main-blue !important;
// }

#mega-menu-wrap-menu-1
#mega-menu-menu-1
> li.mega-menu-megamenu
> ul.mega-sub-menu
li.mega-menu-column
> ul.mega-sub-menu
> li.mega-menu-item
> a.mega-menu-link {
  font-family: $font-roboto-condensed;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: $neutral-3;
  text-transform: uppercase;

}

#mega-menu-wrap-menu-1
#mega-menu-menu-1
> li.mega-menu-megamenu
> ul.mega-sub-menu
li.mega-menu-column
> ul.mega-sub-menu
> li.mega-menu-item
li.mega-menu-item
> a.mega-menu-link {
  font-family: $font-roboto-condensed;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: $white;
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-megamenu > ul.mega-sub-menu {
  margin-top: 20px;
}

#mega-menu-wrap-menu-1
#mega-menu-menu-1
> li.mega-menu-megamenu
> ul.mega-sub-menu
li.mega-menu-column
> ul.mega-sub-menu
> li.mega-menu-item {
  padding: 0 0 0 0 !important;
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1 li.mega-menu-item.mega-menu-megamenu ul.mega-sub-menu ul.mega-sub-menu {
  display: flex;
  flex-flow: wrap;
}
#mega-menu-wrap-menu-1
#mega-menu-menu-1
li.mega-menu-item.mega-menu-megamenu
ul.mega-sub-menu
ul.mega-sub-menu
.mega-menu-item:has(.mega-menu-link) {
  width: 100%;
}

#mega-menu-wrap-menu-1
#mega-menu-menu-1
> li.mega-menu-megamenu
> ul.mega-sub-menu
> li.mega-menu-row
.mega-menu-column:first-child {
  //padding: 20px 50px 20px 0;
  &:hover{
    background: $main-blue;
  }
  @include media-breakpoint-down(lg) {
    //padding: 15px 15px 15px 0;
  }
}

#mega-menu-wrap-menu-1
#mega-menu-menu-1
> li.mega-menu-megamenu
> ul.mega-sub-menu
> li.mega-menu-row
.mega-menu-column:nth-child(2) {
  &:hover{
    background: $main-blue;
  }
}
#mega-menu-wrap-menu-1
#mega-menu-menu-1
> li.mega-menu-megamenu
> ul.mega-sub-menu
> li.mega-menu-row
.mega-menu-column:nth-child(3) {
  &:hover{
    background: $main-blue;
  }
}
#mega-menu-wrap-menu-1
#mega-menu-menu-1
li.mega-menu-megamenu
> ul.mega-sub-menu
> li.mega-menu-row
.mega-menu-column {
  padding: 20px 50px;
  @include media-breakpoint-down(lg) {
    padding: 15px;
  }
}

#mega-menu-wrap-menu-1
#mega-menu-menu-1
li.mega-menu-megamenu
> ul.mega-sub-menu
> li.mega-menu-row
.mega-menu-column:last-child {
  //background: linear-gradient(rgba(37, 37, 37, 0) 12.84%,88.42deg, #252525 1.63% );
  &:hover {
    // background: none!important;
  }
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1 {
  padding: 0 0 20px 0;
}

.site-header {
  .main-navigation {
    // CTA Widget
    .cta-buttons {
      &__item {
        margin-bottom: 7px;
        &--link {
          font-family: $font-roboto-condensed;
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 20px;
          text-transform: uppercase;
          color: $white;
          display: flex;
          justify-content: center;
          align-items: center;
          background: transparent;
          border: 1px solid $gold;
          height: 52px;
          min-width: 243px;
          padding: 0 15px;
          &:hover{
            background-color: $gold;
            transition: 0.2s ease-in-out;
            -webkit-transition: 0.2s ease-in-out;
            color: $dark-blue;
          }
          @include media-breakpoint-down(lg) {
            min-width: auto;
          }
        }
      }
    }
  }
}

.desktop-nav {
  input.search-field::placeholder {
    color: #333333;
  }

  input.search-field {
    padding: 16px 10px 16px 31px;
    // padding: 16px 0 16px 31px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #333333;
    width: 100%;
    border: transparent;
  }
  input.search-submit {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    padding: 16px 49px 16px 50px;
    text-transform: uppercase;
    color: $white;
    background: #ca1237;
  }
  // input.search-submit:hover{
  //   border: 1px solid #000000;
  //   color: #CA1237;
  //   background-color: $white;
  //   text-decoration: none;
  // }

  #mega-menu-wrap-menu-1
  #mega-menu-menu-1
  li.mega-menu-megamenu:last-child
  > ul.mega-sub-menu
  > li.mega-menu-row
  .mega-menu-column:first-child {
    padding: 27px 112px 20px 0;
    &:hover{
      background: none;
    }
  }
  form.search-form {
    display: grid;
    grid-template-columns: 80% auto;
  }
  #mega-menu-wrap-menu-1 #mega-menu-menu-1 li.mega-menu-megamenu:last-child > .mega-sub-menu {
    background: #cccccc !important;
    // border-top: 5px solid #e5e5e5;
  }
  #mega-menu-wrap-menu-1 #mega-menu-menu-1 li.mega-menu-megamenu:last-child .mega-sub-menu a.mega-menu-link {
    color: #333333 !important;
  }

  #mega-menu-wrap-menu-1 #mega-menu-menu-1 li.mega-menu-megamenu:last-child > a {
    // float: right;
    font-size: 0 !important;
  }
  #mega-menu-wrap-menu-1 #mega-menu-menu-1 li.mega-menu-megamenu:last-child {
    float: right;
  }
  #mega-menu-wrap-menu-1 #mega-menu-menu-1 li.mega-menu-megamenu:last-child > a[class^="fas"]:before {
    color: $text;
    font-size: 20px;
    left: 23px;
  }
  #mega-menu-wrap-menu-1 #mega-menu-menu-1 li.mega-menu-megamenu:last-child > a[class^="fas"] span.mega-indicator {
    display: none !important;
  }
  #mega-menu-wrap-menu-1
  #mega-menu-menu-1
  li.mega-menu-megamenu:last-child
  > ul.mega-sub-menu
  > li.mega-menu-row
  .mega-menu-column:last-child {
    background: linear-gradient(88.42deg, rgba(37, 37, 37, 0.2) 1.63%, rgba(37, 37, 37, 0) 12.84%);
  }

  #mega-menu-wrap-menu-1
  #mega-menu-menu-1
  li.mega-menu-megamenu:last-child
  > ul.mega-sub-menu
  > li.mega-menu-row
  .mega-menu-column:nth-child(even) {
    padding: 23px 50px;
  }
}